<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>issuerID</key>
	<string>00000000-0000-0000-0000-000000000000</string>
	<key>keyID</key>
	<string>ABC123DEFG</string>
	<key>privateKey</key>
	<string>-----BEGIN PRIVATE KEY-----
YOUR_P8_PRIVATE_KEY_CONTENT
-----END PRIVATE KEY-----</string>
</dict>
</plist>
